

<div class="page-header">
    <h3>Admin Options</h3>
</div>
<a href="/Admin/AddMobile" class="btn btn-block btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Add Mobile</a>
<a href="/Admin/update" class="btn btn-block btn-primary"><i class="glyphicon glyphicon-list-alt"></i> Update Mobile</a>


<p style="color:red">@ViewBag.error</p>