
@{ MobileEra.Models.user u = (MobileEra.Models.user)HttpContext.Current.Session["user"]; }
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/logo.png" />
    <title>@ViewBag.title | Mobile Era</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Core CSS - Include with every page -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="~/Content/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="~/Content/timeline.css" rel="stylesheet" />

    <!-- SB Admin CSS - Include with every page -->
    <link href="~/Content/sb-admin.css" rel="stylesheet" />


    @*//for floating label*@
    <style>
        /*For floating label- start*/
        .bs-float-label {
            position: relative;
            margin: 10px;
            padding: 10px;
        }

            .bs-float-label > .float-input {
                margin-top: 10px;
            }

                .bs-float-label > .float-input:focus {
                    /*border-color: #f06d06;*/
                }

            .bs-float-label > .float-label {
                position: absolute;
                top: 3px;
                left: 10px;
                background: rgba(255, 255, 255, .32);
                -webkit-transition: top .5s ease-in-out, opacity .5s ease-in-out; /* For Safari 3.1 to 6.0 */
                transition: top .5s ease-in-out, opacity .5s ease-in-out;
                opacity: 0;
            }

                .bs-float-label > .float-label.show {
                    color: #807777;
                    top: 1px;
                    opacity: 1;
                }

                .bs-float-label > .float-label.on {
                    color: #0a0808;
                }
        /*For floating label- end*/



        /*For file Preview- start*/
        .image-preview-input {
            position: relative;
            overflow: hidden;
            margin: 0px;
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

            .image-preview-input input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }

        .image-preview-input-title {
            margin-left: 2px;
        }
        /*For file preview- end*/




        /*for hover caption-start*/
        cuadro_intro_hover {
            padding: 0px;
            position: relative;
            overflow: hidden;
            height: 200px;
        }

        .cuadro_intro_hover:hover .caption {
            opacity: 1;
            transform: translateY(-150px);
            -webkit-transform: translateY(-150px);
            -moz-transform: translateY(-150px);
            -ms-transform: translateY(-150px);
            -o-transform: translateY(-150px);
        }

        .cuadro_intro_hover img {
            z-index: 4;
        }

        .cuadro_intro_hover .caption {
            position: absolute;
            top: 150px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            width: 100%;
        }

        .cuadro_intro_hover .blur {
            background-color: rgba(0,0,0,0.7);
            height: 300px;
            z-index: 5;
            position: absolute;
            width: 100%;
        }

        .cuadro_intro_hover .caption-text {
            z-index: 10;
            color: #fff;
            position: absolute;
            height: 300px;
            text-align: center;
            top: -20px;
            width: 100%;
        }
        /*for hover caption-end*/


        /*for search*/
        #custom-search-input {
            margin: 0;
            margin-top: 10px;
            padding: 0;
        }

            #custom-search-input .search-query {
                padding-right: 3px;
                padding-right: 4px \9;
                padding-left: 3px;
                padding-left: 4px \9;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            #custom-search-input button {
                border: 0;
                background: none;
                /** belows styles are working good */
                padding: 2px 5px;
                margin-top: 2px;
                position: relative;
                left: -28px;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                color: #D9230F;
            }

        .search-query:focus + button {
            z-index: 3;
        }

        /*for search end*/
    </style>

    <link href="~/Content/application.css" rel="stylesheet" />


    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />    
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

</head>

<body style="width:90%;margin:auto">
    <div id="wrapper">        
        <div id="custom-search-input">
            <div class="input-group col-md-10">
                <input type="text" class="  search-query form-control" placeholder="Search for model of mobile or Made e.g 'Nokia', 'Lumia'" id="input1"/>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" id="btn1">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="text-center" style="position:absolute;top:10px;right:70px;background:#">
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/aqib.mushtaq3"><i class="fa fa-facebook"></i></a>            
            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>            <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>            <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/105944809991419523870/posts"><i class="fa fa-google-plus"></i></a>
        </div>
        <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-bottom:10px;margin-top:10px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="~/images/logo.png" />
                    Mobile Era</a>
            </div>
            <!-- /.navbar-header -->                                                                    
            <ul class="nav navbar-nav navbar-right">
                <li id="home">
                    <a href="/">
                        <i class="glyphicon glyphicon-home"></i> Home
                    </a>
                </li>

                <li id="favourite">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/Mobile/Favourite">
                        <i class="fa fa-heart fa-fw"></i> Favourite Mobiles
                    </a>
                </li>

                <li id="topMobiles">
                    <a href="#">
                        <i class="glyphicon glyphicon-star"></i> Top Rating Mobiles
                    </a>
                </li>


                @if (u == null)
                {
                    <li class="dropdown">
                        <a href="/account/login">
                            <i class="glyphicon glyphicon-user"></i> Login
                        </a>
                        <!-- /.dropdown-tasks -->
                    </li>
                    <li class="dropdown">
                        <a href="/account/signup">
                            <i class="glyphicon glyphicon-plus-sign"></i> Sign Up
                        </a>

                        <!-- /.dropdown-accounts -->
                    </li>
                }
                else
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> @u.Full_Name <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="/Account/changePassword"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                            </li>                     
                            @if (u.type.Equals("admin"))
                            {
                                <li><a href="/Admin"><i class="glyphicon glyphicon-tasks"></i> Admin Panel</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="/Account/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                }               
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default navbar-static-side" role="navigation" style="margin-top:61px">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">                                               
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-earphone"></i> Mobiles by Brand<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a href="/Mobile/Brand/Nokia"><i class="glyphicon glyphicon-check"></i> Nokia</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Brand/Samsung"><i class="glyphicon glyphicon-check"></i> Samsung</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Brand/HTC"><i class="glyphicon glyphicon-check"></i> HTC</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Brand/QMobile"><i class="glyphicon glyphicon-check"></i> QMobile</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Brand/Gfive"><i class="glyphicon glyphicon-check"></i> G'five</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Brand/Huawei"><i class="glyphicon glyphicon-check"></i> Huawei</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Brand/Apple"><i class="glyphicon glyphicon-check"></i> Apple</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-bar-chart-o fa-fw"></i> Mobiles by Price<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Mobile/ByPrice/1000-5000"><i class="glyphicon glyphicon-stats"></i> 1000 - 5000</a>
                                </li>
                                <li>
                                    <a href="/Mobile/ByPrice/5000-10000"><i class="glyphicon glyphicon-stats"></i> 5000 - 10,000</a>
                                </li>
                                <li>
                                    <a href="/Mobile/ByPrice/10000-15000"><i class="glyphicon glyphicon-stats"></i> 10000 - 15,000</a>
                                </li>
                                <li>
                                    <a href="/Mobile/ByPrice/15000-20000"><i class="glyphicon glyphicon-stats"></i> 15,000 - 20,000</a>
                                </li>
                                <li>
                                    <a href="/Mobile/ByPrice/20000-30000"><i class="glyphicon glyphicon-stats"></i> 20,000 - 30,000</a>
                                </li>
                                <li>
                                    <a href="/Mobile/ByPrice/30000-100000"><i class="glyphicon glyphicon-stats"></i> >30,000</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="forms.html"><i class="glyphicon glyphicon-camera"></i> By Camera<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Mobile/ByCamera/0-5"><i class="glyphicon glyphicon-camera"></i> < 5MP</a>
                                </li>
                                <li>
                                    <a href="/Mobile/ByCamera/5-8"><i class="glyphicon glyphicon-camera"></i> 5MP - 8MP</a>
                                </li>
                                <li>
                                    <a href="/Mobile/ByCamera/8-20"><i class="glyphicon glyphicon-camera"></i> > 8MP</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-globe"></i> By OS<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Mobile/OS/Android"><i class="glyphicon glyphicon-globe"></i> Android</a>
                                </li>
                                <li>
                                    <a href="/Mobile/OS/Windows"><i class="glyphicon glyphicon-globe"></i> Windows</a>
                                </li>
                                <li>
                                    <a href="/Mobile/OS/iOS"><i class="glyphicon glyphicon-globe"></i> iOS</a>
                                </li>
                                <li>
                                    <a href="/Mobile/OS/Symbian"><i class="glyphicon glyphicon-globe"></i> Symbian</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="glyphicon glyphicon-fullscreen"></i> By Screen Size<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Mobile/Screen/0-3"><i class="glyphicon glyphicon-fullscreen"></i> 3"</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Screen/3-4"><i class="glyphicon glyphicon-fullscreen"></i> 3" - 4"</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Screen/4-5"><i class="glyphicon glyphicon-fullscreen"></i> 5"</a>
                                </li>
                                <li>
                                    <a href="/Mobile/Screen/5-10"><i class="glyphicon glyphicon-fullscreen"></i> >5"</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12" id="page-content">
                    @RenderBody()
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
    </div>
    <footer>               
        <img src="~/images/star-off.png" alt="4" title="good">
        <div id="star"></div>
            <p style="text-align: center;display:inline"><a href="/Home/About">About Me</a></p>
            <span> | </span>
            <p style="text-align: center;display:inline"><a href="#">FAQ</a></p>
            <p style="text-align: center"><i class="glyphicon glyphicon-copyright-mark"></i>Copy Rights Reserved</p>      
    </footer>
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="~/Scripts/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="js/demo/dashboard-demo.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.raty.js"></script>
    <script src="~/Scripts/jquery-1.7.1.intellisense.js"></script>
    
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function (e) {

            /*For raty- start*/
            $.fn.raty.defaults.path = "/images/";
            $(".raty").raty({
                score: function () {
                    return $(this).attr('data-score');
                }, readOnly: true
            });
            /*For raty- end*/



            /*For floating label- start*/
            if ($('.bs-float-label input').length) {
                var bs_float_on_class = "on";
                var bs_float_show_class = "show";

                $('.float-input').on('bs-check-value', function () {
                    var _bs_label = $(this).closest('.bs-float-label').find('.float-label');
                    if (this.value !== '') {
                        _bs_label.addClass(bs_float_show_class);
                    } else {
                        _bs_label.removeClass(bs_float_show_class);
                    }
                })
                .on("keyup", function () {
                    $(this).trigger("bs-check-value");
                })
                .on("focus", function () {
                    $(this).closest(".bs-float-label").find('.float-label').addClass(bs_float_on_class);
                })
                .on("blur", function () {
                    $(this).closest(".bs-float-label").find('.float-label').removeClass(bs_float_on_class);
                }).trigger("bs-check-value");
                ;
            }
            /*For floating label- end*/


            /*For file preview- start*/

            $(document).on('click', '#close-preview', function () {
                $('.image-preview').popover('hide');
                // Hover befor close the preview
                $('.image-preview').hover(
                    function () {
                        $('.image-preview').popover('show');
                    },
                     function () {
                         $('.image-preview').popover('hide');
                     }
                );
            });

            $(function () {
                // Create the close button
                var closebtn = $('<button/>', {
                    type: "button",
                    text: 'x',
                    id: 'close-preview',
                    style: 'font-size: initial;',
                });
                closebtn.attr("class", "close pull-right");
                // Set the popover default content
                $('.image-preview').popover({
                    trigger: 'manual',
                    html: true,
                    title: "<strong>Preview</strong>" + $(closebtn)[0].outerHTML,
                    content: "There's no image",
                    placement: 'left'
                });
                // Clear event
                $('.image-preview-clear').click(function () {
                    $('.image-preview').attr("data-content", "").popover('hide');
                    $('.image-preview-filename').val("");
                    $('.image-preview-clear').hide();
                    $('.image-preview-input input:file').val("");
                    $(".image-preview-input-title").text("Browse");
                });
                // Create the preview image
                $(".image-preview-input input:file").change(function () {
                    var img = $('<img/>', {
                        id: 'dynamic',
                        width: 250,
                        height: 200
                    });
                    var file = this.files[0];
                    var reader = new FileReader();
                    // Set preview image into the popover data-content
                    reader.onload = function (e) {
                        $(".image-preview-input-title").text("Change");
                        $(".image-preview-clear").show();
                        $(".image-preview-filename").val(file.name);
                        img.attr('src', e.target.result);
                        $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
                    }
                    reader.readAsDataURL(file);
                });
            });
            /*For file preview- end*/


            /*search start*/
            $("#btn1").click(
            function () {
                var div = $("#page-content");
                var input = $("#input1");
                div.empty();
                div.append("<img src='/images/wait.gif' style='margin:auto;display:block;margin-left:auto;margin-right:auto;margin-top:80px'></img>");
                div.load("/mobile/search?q=" + input.val());
            });


            $("#input1").keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == 13) {
                    var div = $("#page-content");
                    var input = $("#input1");
                    div.empty();
                    div.append("<img src='/images/wait.gif' style='margin:auto;display:block;margin-left:auto;margin-right:auto;margin-top:80px'></img>");
                    div.load("/mobile/search?q=" + input.val());
                }
            });
            /*search end*/


            $("a#image1").fancybox({
                padding: 9,

                openEffect: 'elastic',
                openSpeed: 150,

                closeEffect: 'elastic',
                closeSpeed: 150,

                closeClick: true,

                helpers: {
                    title: {
                        type: 'inside'
                    },
                    buttons: {}
                },

                afterLoad: function () {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });
            /*fancybox -end*/



        });

        function addFav(event) {
            var model = $(event).attr("id");
            $.getJSON("/Mobile/addFav?Model=" + model, function (data) {
                if (data == true) {
                    $("p#msg").text("success");
                }
                else {
                    $("#msg").text("fail");
                }
            });            
        }
    </script>


    <script src="~/Scripts/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/jquery.fancybox-thumbs.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
</body>

</html>

