@model List<MobileEra.Models.mobile>
@{string p;}


<marquee behavior="scroll" direction="left">
    <b>Latest Prices:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@for (int i = 0; i < Model.Count; i++)
{
    p = Model[i].Model + " : " + Model[i].Price + "$" + "**************";
    @p;     
    }    
</marquee>

<hr class="colorgraph" />
<div class="jumbotron">
    <h2>
        <a href="/"><img src="~/images/logo.png" /></a>Welcome to Mobile Era</h2>
    <img src="~/images/theme.jpg"  class="pull-right thumbnail" style="width:300px;height:200px"/>
    <p style="color:#0094ff">Mobile Phone Prices / price list is updated daily from local Mobile shops & Mobile dealers in Pakistan but we can't guarantee that mobile prices / price list on this page is 100% correct (Human error is possible). Always visit your local shop for exact mobile prices. What Mobile Pakistan - Nokia mobile prices / LG mobile prices / Samsung mobile prices / Sony Ericsson mobile prices / HTC mobile prices - What Mobile Prices in Pakistan</p>    
    <button class="btn btn-success" role="button"><i class="fa fa-list"></i> Learn More</button>
    
</div>
<div class="row">
    <div class="page-header">
        <h4 style="color: #0996c4"><i class="navbar-fixed-top"></i>Top Rating</h4>
    </div>
    @for (int i = 0; i < Model.Count; i++)
    {
        string path = Model[i].Model + ".jpg";      
        <div class="col-lg-3">
            <div class="thumbnail">
                <a href="/Mobile/Detail/@Model[i].Model">
                    <img src="~/images/@path" id="img-@i" style="height: 140px; width: auto" /></a>
                <div class="raty" data-score="@Model[i].Rating" style="margin:auto"></div>
                <div class="caption"></div>
                <p style="text-align: center"><strong>Price:</strong> @Model[i].Price Rs.</p>
                <h4 style="text-align: center"><a href="/Mobile/Detail/@Model[i].Model">@Model[i].Made @Model[i].Model</a></h4>
                <p style="text-align:center">
                    <a href="/Mobile/Detail/@Model[i].Model" style="display:inline"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                    <a href="/Mobile/addFav/@Model[i].Model"  style="display:inline"><i class="fa fa-heart fa-fw"></i>Favourite</a>
                </p>
            </div>
        </div>  
    }

</div>